DOCKERHUB_NAMESPACE=mynameisfuong
IMAGE_TAG=latest

POSTGRES_DB=facility_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
JWT_SECRET=facility_management_secret_key

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173
BACKEND_HOST=127.0.0.1
BACKEND_PORT=5050
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
